---
import Body from '../components/body/Body';
import Footer from '../components/footer/Footer';
import '../styles/index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Max Paredes Portafolio</title>
	</head>
	
	<Body >
		<h1>About</h1>
		<p>Leer más <a href="/">sobre Astro!</a></p> 
		<Footer />
	</Body>
	
	

</html>
