---

import '../styles/index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Max Paredes Portafolio</title>
		</head>
	<body >
		<h1>About</h1>
		<p>Leer más <a href="/">sobre Astro!</a></p> 


	</body>
</html>
