---
import Prueba from "../components/Prueba";
import "../styles/index.css";
// import PantallaCarga from "../components/carga/PantallaCarga";
// import Footer from "../components/footer/Footer";
// import Header from "../components/header/Header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Max Paredes Portafolio</title>
  </head>
  <body>
  </body>
</html>
